/*

Estilos para parchar el layout normal de 

*/
#redux_blast_1499792969, #redux_dashboard_widget, .redux-message{
	display: none;
	visibility: hidden;
}

.row-actions{
	left: 0 !important;
}

#respond #submit{
	display: block !important;
}

.dt-btn.dt-btn-m{
     display: none;
 }