body {
	background-image: url("../images/work-desk.png");
	background-repeat: repeat;
	background-size: initial;
}

.worksheet {
    width: 80%;
    margin: 20px auto;
    padding: 30px 20px;
    background-color: white;
}

.worksheet-heading {
    width: 80%;
    margin: 10px auto;
    padding: 30px 20px;
    text-align: center;
}

.worksheet-heading h1 {
    color: white;
}

button{
	padding: 10px;
}

@media print {

	.noprint {
	    display: none;
	    visibility: hidden;
	}

	.worksheet {
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    background-color: white;
	}

	.worksheet , .worksheet p, .worksheet table {
	    color: black;
	    font-size: 8pt;
	    line-height: 12pt;
	}

	.worksheet p{
	}

	.worksheet table{
	}

}

@page{margin:10px auto;}
